.footer {
  background: #0f172a;
  padding-block: 32px 16px;
  .container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__left-link {
    width: 176px;
    height: 56px;
  }
  &__lefet-link.text{
    color: #64748B;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .line {
    max-width: 104px;
    &__list {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    h6 {
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 24px;
    }
    &__item {
      font-size: 16px;
    }
    &__link {
      color: #64748b;
      font-size: 16px;
    }
  }
}
