.footer {
  background: #0f172a;
  padding-block: 32px 16px;
  .container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  .container__bottom {
    padding-top: 16px;
    display: flex;
    align-items: start;
  }
  .bottom-wrapper {
    border-top: 1px solid #334155;
    margin-top: 56px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .text {
    color: #64748b;
    width: fit-contentt;
    height: fit-content;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 21px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .line {
    max-width: 104px;
    &__list {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    h6 {
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 24px;
    }
    &__item {
      font-size: 16px;
    }
    &__link {
      color: #64748b;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    &__left-link img {
      width: 100.57142639160156px;
      height: 32px;
      opacity: 1;
    }
    &__left {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .container {
      flex-direction: column;
    }
    .actions {
      flex-wrap: wrap;
    }
    .container__bottom {
      gap: 16px !important;
    }
  }
  .footer .footer-container {
    flex-direction: column;
    gap: 32px;
  }
}
