// intro section
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .swiper-slide {
    padding: 32px;
  }
  .top {
    margin-block: 32px 24px;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .left-box {
    max-width: 800px;
    background-image: url("/images/man-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 32px;
    .bargain {
      color: black;
      background-color: #fff;
      padding: 8px 12px;
      border-radius: 900px;
      width: fit-content;
    }
    .title {
      font-weight: 500;
      font-size: 40px;
      color: #fff;
      line-height: 110.00000000000001%;
      max-width: 347px;
      margin-top: 31px;
      margin-bottom: 12px;
    }
    .desc {
      color: #fff;
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 16px;
    }
    .choose-btn {
      padding: 14px 16px;
      background-color: #0f172a;
      color: #fff;
      font-weight: 500;
      border-radius: 12px;
      margin-bottom: 24px;
      width: fit-content;
    }
    .content-box {
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }

  .right-box {
    background: radial-gradient(
        89.28% 98.65% at 77.86% 13.62%,
        #fdc830 0%,
        #f37335 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    width: 384px;
    border-radius: 32px;
    justify-content: space-between;
    opacity: 1;
    .content-box {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
  .bargain-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }
  .time-box {
    display: flex;
    gap: 2px;
    align-items: center;
    .time {
      color: black;
      background-color: #fff;
      display: flex;
      border-radius: 8px;
      padding: 9px;
    }
  }
  .left-box .swiper-pagination {
    position: absolute;
    bottom: 32px;
    left: 32px;
    width: fit-content;
  }
  .right-box .swiper-pagination {
    width: fit-content;
    left: 32px;
  }
  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 110.00000000000001%;
    color: #fff;
  }
  .cart {
    display: flex;
    gap: 16px;
    align-items: center;
    .name {
      font-weight: 500;
      font-size: 16px;
      line-height: 110.00000000000001%;
      color: #fff;
    }
    .sale {
      display: flex;
      opacity: 0.7;
      justify-content: space-between;
      color: #fff;
      margin-block: 8px 16px;
    }
    .price {
      display: flex;
      justify-content: space-between;
      color: #fff;
    }
    .old {
      opacity: 0.7;
      text-decoration: line-through;
    }
  }
  .iphone {
    max-width: 104px;
    max-height: 128px;
    background-color: #fff;
    padding: 19px 12px;
    border-radius: 16px;
  }
  .bottom {
    .list {
      display: flex;
      gap: 16px;
      &__item {
        display: flex;
        gap: 16px;
        border-radius: 24px;
        background: #f1f5f9;
        padding: 16px;
        align-items: start;
      }
    }
    .info-box {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .info {
      color: #64748b;
    }
    .swiper-slide {
      display: flex;
      align-items: start;
      gap: 12px;
      background-color: #f1f5f9;
      border-radius: 24px;
      width: 292px !important;
      padding: 16px;
    }
  }
}
.intro .bottom {
  margin-bottom: 32px;
}
.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
  }
  .all-buttun-box {
    position: relative;
  }
  .all {
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    border-radius: 12px;
    background: #f1f5f9;
  }
}

// smartphones section start
.smartphones,
.laptops {
  margin-block: 24px 56px;
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
  }
  .main-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 100%;
  }
  .tags {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .tag {
    display: flex;
    padding: 4px 8px;
    border-radius: 900px;
  }
  .discount {
    color: #0d9488;
    background: #f0fdfa;
  }
  .gift {
    color: #2563eb;
    background: #eff6ff;
  }
  .card-img {
    max-width: 232px;
    max-height: 262px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .info {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
  }
  .price-box {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 14px;
    line-height: 110%;
    font-weight: 500;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .old {
    color: var(--colors-slate-500, #64748b);
    text-decoration: line-through;
    font-weight: 400;
  }
  .stock {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: var(--colors-slate-500, #64748b);
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }
  .button-box {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
  .basket {
    padding: 14px;
    display: flex;
    align-items: center;
    gap: 63px;
    border-radius: 12px;
    background: var(--colors-slate-900, #0f172a);
    color: #fff;
  }
  .trash {
    z-index: 1;
  }
  .heart {
    background: var(--colors-slate-100, #f1f5f9);
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // Boshqa style'lar...
}

.laptops {
  padding: 0;
}

// gift-prize section
.gift-prize {
  margin-block: 56px;
  .container {
    display: flex;
    gap: 32px;
    .left {
      background-image: url("/images/gift-bg.png");
      background-position: center;
      background-repeat: no-repeat;
      padding: 32px;
      color: white;
      border-radius: 32px;
      display: flex;
      justify-content: space-between;
      gap: 63px;
      align-items: end;
      background-size: cover;
      width: 100% !important;
    }
    .all {
      padding: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-weight: 500;
      border-radius: 12px;
      background: white;
    }
    .title {
      max-width: 337px;
      font-weight: 500;
      font-size: 32px;
      line-height: 110%;
    }
  }
}

// login section
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 56px;
  color: white;
  &__box {
    max-width: 700px;
  }
  .login-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 81px;
    background-size: cover;
    background-image: url("/images/login-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 32px;
    background-size: cover;
  }
  .container {
    width: 100%;
    max-width: 1216px;
    padding: 0 15px;
    margin-inline: auto;
  }
  .title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 12px;
    line-height: 110%;
  }
  .desc {
    font-size: 16px;
    white-space: nowrap;
    font-weight: 400;
  }
  .login-box {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-block: 16px;
    width: 100%;
  }
  .email {
    padding: 14px 16px;
    border-radius: 12px;
  }
  .email::placeholder {
    color: #64748b;
    font-size: 14px;
  }
  .send {
    padding: 14px 16px;
    border-radius: 12px;
    background-color: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info {
    text-align: center;
  }
}

// reviews
.reviews {
  margin-block: 56px;
  .title-box {
    margin-bottom: 24px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    padding: 14px;
    background: #f1f5f9;
    opacity: 1 !important;
  }
  .swiper-button-prev img,
  .swiper-button-next img {
    width: 16px;
    height: 16px;
  }
  .all-button-box {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
  }
  .navigation-bar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 38px;
    margin-top: 24px;
  }
  .swiper-button-next::after {
    content: none;
  }
  .swiper-button-prev::after {
    content: none;
  }
  .comment {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .reviews-swiper {
    padding-bottom: 40px;

    .swiper-wrapper {
      display: flex;
    }

    .swiper-slide {
      width: auto; // Kartalar o‘z hajmini ushlaydi
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 24px;
    background-color: #f1f5f9;
    overflow: hidden;

    .user {
      display: flex;
      gap: 8px;
    }

    .account {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      font-size: 16px;
      font-weight: 500;
      color: #0d9488;
      background-color: #fff;
    }

    .name-box {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .name {
      font-size: 16px;
      font-weight: 500;
    }

    .status {
      padding: 4px 8px;
      color: #f0fdfa;
      background: #0d9488;
      line-height: 120%;
      font-size: 12px;
      font-weight: 500;
      border-radius: 900px;
    }

    .comment-section {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .title {
      color: #0f172a;
      font-weight: 500;
      margin-bottom: 8px;
    }

    .info {
      color: #64748b;
      line-height: 130%;
    }

    .review {
      display: flex;
      gap: 12px;
      overflow: hidden;

      img {
        width: 104px;
        height: 128px;
        border-radius: 16px;
      }
    }
  }
}

@media (max-width: 1250px) {
  .container {
    max-width: 100%;
    padding-inline: 20px;
  }
}
@media (max-width: 1200px) {
  .intro {
    .container {
      flex-direction: column;
      gap: 34px;
      .title {
        max-width: 100%;
      }
      .left-box,
      .right-box {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
@media (max-width: 1024px) {
  .header {
    .header-bottom {
      &__links,
      .search-menu,
      .search-box {
        width: 100%;
      }
    }
  }
  .categories {
    &__list {
      margin-right: -20px;
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    .container {
      gap: 32px;
      flex-direction: column;
    }
    .right-box {
      min-width: 300px !important;
    }
    .bottom {
      margin-bottom: 54px;
    }
    .card {
      width: calc(33.333% - 15px); /* 3 ta qatorga */
    }
  }
  .to {
    white-space: nowrap;
  }
  .gift-prize .container {
    flex-direction: column;
    .left {
      width: fit-content;
    }
  }
  .tags {
    width: fit-content;
    flex-direction: column;
    align-items: unset !important;
  }
  .tag {
    width: fit-content;
  }
  .gift-prize {
    .left {
      gap: 0 !important;
    }
  }
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 56px;
    .login__box {
      width: fit-content !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .smartphones .cards,
  .laptops .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .smartphones .card,
  .laptops .card {
    padding: 0;
  }
  .intro .container .title{
    font-size: 24px;
  }
  .intro .right-box .title{
    font-size: 20px;
  }
  .intro .left-box .choose-btn{
    padding: 8px 12px;
  }
  .intro .left-box .swiper-pagination{
    left: 16px;
    bottom: 16px;
  }
  .intro .bargain-box{
    font-size: 12px;
  }
  .smartphones .gift,
  .laptops .gift {
    display: none;
  }
  .intro .swiper-slide{
    padding: 16px;
  }
  .intro .left-box,
  .intro .right-box{
    border-radius: 16px;
  }
  .gift-prize .container .left{
    flex-direction: column;
    align-items: start;
    gap: 15px !important;
  }
  .intro .time-box .time{
    border-radius: 4px;
    padding: 6px;
    line-height: 110%;
  }
  .intro .cart{
    margin-bottom: 16px;
  }
  .intro .right-box .swiper-pagination{
    left: 16px;
  }
  .gift-prize .container .title{
    font-size: 22px;
    max-width: unset;
  }
  .login .login-box{
    flex-direction: column;
    .send{
      width: 100% !important;
    }
    .email{
      width: 100% !important;
    }
  }
  .login-overlay{
    padding-block: 40px !important;
    border-radius: 16px !important;
    padding-inline: 16px !important;
  }
  .reviews .navigation-bar{
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .reviews .title-box .all{
    display: none;
  }
}
@media(max-width: 540px){
  .login .desc{
    white-space: wrap;
  }
}
@media (max-width: 500px) {
  .smartphones .card-img,
  .laptops .card-img {
    max-width: 150px;
  }
  .smartphones .button-box .basket,
  .laptops .button-box .basket {
    width: 100%;
    justify-content: space-between;
  }
  .title-box .all {
    display: none;
  }
  .trash,
  .heart img {
    width: 14px;
    height: 14px;
  }
  .basket{
    padding: 9px 12px !important;
    border-radius: 8px !important;
    gap: 0 !important;
  }
  .heart{
    padding: 9px !important;
    border-radius: 8px !important;
  }
  .smartphones,
  .laptops {
    .card {
      .tag {
        font-size: 10px;
        margin-top: 24px;
      }
      .buttons,
      .info,
      .left,
      .right,
      .to {
        font-size: 12px !important;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .intro .top .left-box {
    min-width: 300px !important;
  }
  .intro .left-box .bargain {
    color: black;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 900px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro .left-box .desc {
    font-size: 14px;
  }
  .intro .left-box .choose-btn {
    font-size: 12px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gift-prize .container {
    flex-direction: column;
    gap: 16px;
    .left {
      gap: 16px !important;
      flex-direction: column;
      align-items: start;
      padding: 16px;
      border-radius: 16px;
    }
    .all {
      padding: 8px 12px;
      border-radius: 8px;
    }
    .title {
      font-size: 20px;
    }
  }
  .login .info {
    text-align: center;
    font-size: 12px;
  }
  .login-box {
    flex-direction: column;
  }
  .login .title {
    font-size: 20px;
  }
  .login .desc {
    font-size: 12px !important;
    white-space: wrap;
    font-weight: 400;
    width: 300px;
  }
  .login-box .email, .login-box .send{
    width: unset !important;
  }
  .login .login-overlay {
    padding: 40px 32px
  }
  .title-box .title {
    font-size: 22px;
    font-weight: 500;
    line-height: 110%;
  }
}
